<div class="about-main-container" id="about-me">
  <img class="about-shadow" src="assets/shadows/Purple shadow 1.png" />
  <div class="about-main">
    <div class="about-container" id="meinElement">
      <div class="about-title">About me</div>
      <div>
        As a junior frontend web developer, I independently designed and implemented several web applications using
        JavaScript and Angular. My passion for programming began while working with CNC machines and led me to software
        development. At the TÜV-certified Developer Academy, I deepened my knowledge and worked on complex projects,
        both independently and as part of a team.
      </div>
      <div class="about-me-container">
        <div class="about-me light">
          <img class="marginx-7" src="assets/vector/light.png" />
          <div>
            Solid project experience in frontend
            When facing new challenges, I can draw upon my months-long project experience in implementing over 12
            demanding projects
          </div>
        </div>
        <div class="about-me puzzle">
          <img src="assets/vector/puzzle.png" />
          <div>
            As a frontend developer, I gained experience in implementing modern state-of-the-art UX design templates in
            projects and adapting them where necessary.
          </div>
        </div>
      </div>
    </div>
    <div class="about-img">
      <div class="about-pic"><img src="assets/pics/bild.png" /></div>
      <div class="about-stroke"></div>
    </div>
  </div>
</div>