<div class="about-main-container" id="about-me">
    <img class="about-shadow" src="./assets/shadows/Purple shadow 1.png" />
    <div class="about-main">
      <div class="about-container" id="meinElement">
        <div class="about-title">About me</div>
        <div>
          As a career changer in front-end development, I am passionate about
          developing into a junior developer. My passion for creating beautiful
          and user-friendly web applications inspired me to direct my professional
          career into the world of software development. My previous experience
          and skills include:
        </div>
        <div class="about-me-container">
          <div class="about-me">
            <img class="marginx-7" src="./assets/vector/light.png" />
            <div>
              Passionate about creating responsive and user-friendly websites.
              Knowledge of working with back-end teams to integrate front-end
              applications. Experience in developing interactive layouts using
              Angular, TypeScript, JavaScript, HTML, Firebase, GIT, CSS, Rest-Api,
              Scrum, and Material Design. Ability to troubleshoot and maintain
              high-quality standards. Collaborate with design and project teams to
              ensure successful and timely application development and delivery.
            </div>
          </div>
          <div class="about-me">
            <img src="./assets/vector/puzzle.png" />
            <div>
              My goal is to further expand my skills and knowledge in front-end
              development in order to ultimately gain a foothold as a junior
              developer in an inspiring and supportive environment. I am committed
              to putting my passion and determination into developing high-quality
              web applications and continually growing to make a valuable
              contribution to the success of my future team. This biography
              reflects my determination to establish myself in front-end
              development and further develop my skills to ultimately be
              successful as a junior developer.
            </div>
          </div>
        </div>
      </div>
      <div class="about-img">
        <div class="about-pic"><img src="./assets/pics/bild.png" /></div>
        <div class="about-stroke"></div>
      </div>
    </div>
  </div>