<div style="position: relative;"><img class="title-vector" src="./assets/vector/Vector.png" /></div>

<div class="title-main">
  <div class="title-container">
    <div class="title-img">
      <img class="title-shadow-pic-purple" src="./assets/shadows/Purple shadow photo (ungrouped).png" />
      <img class="title-shadow-pic-green" src="./assets/shadows/Green shadow photo (ungrouped).png" />
      <div class="title-pic-container">
        <img class="title-pic" src="./assets/pics/bild.png" />
      </div>
    </div>
    <div class="title-main-text-container">
      <div class="title-text-container">
        <div class="title-name-container">
          <div class="title-pronom">I am</div>
          <div class="title-name">
            <div>Bastian Riedmann</div>
            <div class="title-text">FRONTEND DEVELOPER</div>
          </div>
        </div>
      </div>
      <div>
        <a href="#contact"><button class="title-btn">Let's talk!</button></a>
      </div>
    </div>
  </div>
  <div class="title-nav-container">
    <div class="title-nav-icon">
      <div class="title-stroke-container">
        <div class="title-stroke"></div>
      </div>
      <div class="title-icon-container">
        <div>
          <a (click)="openURL('https://github.com/GandaMitsuo')"><img class="title-icon"
              src="./assets/btn/social_btn/git_default.png" /></a>
        </div>
        <div>
          <a href="mailto:riedmann.basti@gmail.com"><img class="title-icon"
              src="./assets/btn/social_btn/email_default.png" /></a>
        </div>
        <div>
          <a (click)="openURL('https://www.xing.com/profile/Bastian_Riedmann')">
                <img class="title-icon" src="./assets/btn/social_btn/linkedin_default.png" /></a>
        </div>
      </div>
      <div class="title-stroke title-mobil"></div>
      <a href="mailto:riedmann.basti@gmail.com"><span class="title-email">Riedmann.Basti&#64;gmail.com</span></a>
    </div>
    <div class="title-scroll-container">
      <div class="title-scroll-down">Scroll down</div>
      <img src="./assets/icons/arrow-down-line.svg" />
    </div>
  </div>
</div>