.contact-main-container {
  position: relative;
  background-color: #141d2f;
  color: #ffff;
  padding: 0 100px;
  margin: auto;
  overflow: hidden;
}

.contact-main {
  max-width: 1440px;
  margin: auto;
}

.contact-shadow-bottom {
  position: absolute;
  width: 750px;
  height: 900px;
  transform: rotate(-45deg);
  inset: auto auto -500px -360px;
}

.contact-title {
  position: relative;
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 85px;
  width: 100px;
  z-index: 2;
  .contact-stroke {
    position: absolute;
    border: 2px solid #9747ff;
    height: 0;
    width: 100vw;
    right: 150px;
    top: 50px;
  }
}

.contact-container {
  display: flex;
  justify-content: space-between;
  gap: 35px;
}

.contact-back {
  display: flex;
  justify-content: end;
  padding: 35px 0 95px 0;

  img {
    cursor: pointer;
    filter: brightness(1000%);

    &:hover {
      filter: brightness(100%);
    }
  }
}

.contact-description-container {
  width: 470px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 25px;
  z-index: 5;
  .contact-description-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 35px;
  }
}

.contact-form-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  z-index: 2;
  .contact-input-name {
    position: relative;
    margin-right: 50px;
    .contact_check {
      position: absolute;
      right: -40px;
      top: 45px;
      transition: all 0.125s ease;
      animation-name: check-required;
      animation-duration: 1s;
      animation-timing-function: ease;
      animation-iteration-count: 1;
    }
    .contact_check_name {
      position: absolute;
      right: -40px;
      top: 12px;
      transition: all 0.125s ease;
      animation-name: check-required;
      animation-duration: 1s;
      animation-timing-function: ease;
      animation-iteration-count: 1;
    }
    .contact-resizer {
      position: absolute;
      bottom: 2px;
      right: -48px;
    }
    @keyframes check-required {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
  .contact-name {
    outline: none;
    max-width: 610px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #9747ff;
    background-color: #141d2f;
    color: #ffff;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
    resize: vertical;
    max-height: 680px;
    &:focus-visible {
      border: 1px solid #70e61c;
    }
  }

  .contact-input {
    margin-top: 35px;
  }
  .contact-required {
    font-size: 14px;
    font-weight: 400;
    color: #e61c40;
    cursor: default;
    transition: all 0.125s ease;
    animation-name: move-down;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    @keyframes move-down {
      0% {
        opacity: 0;
        transform: translateY(-25px);
      }
      100% {
        overflow: 1;
        transform: translateY(0);
      }
    }
  }
}
.contact-box-form {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
  align-items: center;
  .contact-box {
    cursor: pointer;
    margin-right: 8px;
    &:hover {
      border-radius: 100%;
      background-color: rgba($color: #1cdae6, $alpha: 0.3);
    }
  }
  a {
    text-decoration: none;
    color: #9747ff;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
.contact-btn {
  margin: 44px auto 0 auto;
  width: 250px;
  padding: 15px 30px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #ffff;
  border-radius: 10px;
  font-size: 23px;
  font-weight: 400;
  border: none;
  z-index: 1;
}

.btn-required {
  background-color: #b6b6b6;
  cursor: default;
}
.btn-checked {
  cursor: pointer;
  transition: all 0.125s ease;
  background-color: #70e61c;

  &:hover {
    background-color: #9747ff;
    transform: scale(1.2);
    transition: all 0.125s ease;
  }
}

@media (max-width: 1024px) {
  .contact-container {
    flex-direction: column;
    gap: 45px;
  }
  .contact-description-container,
  .contact-name {
    width: auto;
    max-width: none !important;
  }
  .contact-main-container {
    padding: 0 25px;
  }
}
