<header id="header">
  <div (click)="openPage()" class="header-name" href="#header">
    <img src="assets/icons/name.png" />
  </div>
</header>
<div class="main-container">
    <div class="thanks">
      <h1>Bestätigung des gesendeten E-Mails</h1>
      <div class="text">
        Ich freue mich, Ihnen mitteilen zu können, dass Ihre E-Mail erfolgreich
        versendet wurde.<br /><br /><b class="green">Vielen Dank</b> für Ihre Kontaktaufnahme.<br /><br />
        Ich werde Ihre Anfrage sorgfältig prüfen und mich so bald wie möglich mit
        Ihnen in Verbindung setzen, um Ihre Anliegen zu besprechen.<br /><br />Mit
        freundlichen Grüßen<br /><br /><br />Bastian Riedmann
      </div>
    </div>
  </div>
  <app-footer></app-footer>