.main-container {
  margin: 0;
  background-color: #141d2f;
}
.thanks {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffff;
}
.text {
  width: 60%;
  text-align: center;
}
